#!/bin/bash
#SBATCH --job-name={{ resources.name }}
#SBATCH -p {{ resources.partition }}
#SBATCH -t {{ resources.time }}
#SBATCH --nodes={{ resources.nodes }}
#SBATCH --ntasks={{ resources.ntasks }}
#SBATCH --cpus-per-task={{ resources.cpus_per_task }}
{% if resources.gpus -%}
#SBATCH --gpus={{ resources.gpus }}
{% endif -%}
{% if resources.mem_per_gpu -%}
#SBATCH --mem-per-gpu={{ resources.mem_per_gpu }}
{% elif resources.mem_per_cpu -%}
#SBATCH --mem-per-cpu={{ resources.mem_per_cpu }}
{% elif resources.mem -%}
#SBATCH --mem={{ resources.mem }}
{% endif -%}
{% if array_over -%}
#SBATCH --array=0-{{ (array_over | length) - 1 }}
{% endif -%}
#SBATCH --output={{ log_path }}.out
#SBATCH --error={{ log_path }}.err

set -euo pipefail

{% for module in resources.modules -%}
module load {{ module }}
{% endfor %}
{% for command in commands %}
{{ command }}
{% endfor %}