#!/bin/bash
#SBATCH -p {{ resources.partition }}
#SBATCH -J "{{ step.name }}"
#SBATCH -t {{ resources.time }}
#SBATCH --nodes={{ resources.nodes }}
#SBATCH --ntasks={{ resources.ntasks }}
#SBATCH --cpus-per-task={{ resources.cpus_per_task }}
{% if resources.gpus -%}
#SBATCH --gpus={{ resources.gpus }}
{% endif -%}
{% if resources.mem_per_gpu -%}
#SBATCH --mem-per-gpu={{ resources.mem_per_gpu }}
{% elif resources.mem -%}
#SBATCH --mem={{ resources.mem }}
{% endif -%}
{% if step.array_over -%}
#SBATCH --array=0-{{ (step.array_over | length) - 1 }}
{% endif %}

{% for module in resources.modules -%}
module load {{ module }}
{% endfor %}

{% for command in step.commands %}
{{ command }}
{% endfor %}